/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-datetimepicker';

$fontS:15px;
$fontM:20px;
$fontL:30px;
$fontLL:40px;


@mixin BaseSentence{
 	margin: 10px 0;
}

*{
	padding: 0;
	margin: 0;
}
.base-width{
 	width: 80%;
 	margin:0 auto;
}
.user-info-head{
	@include BaseSentence;
    font-size: $fontS;
}
.user-info-date-M{
    @include BaseSentence;
    font-size: $fontM;
}
.user-info-date-L{
	@include BaseSentence;
    font-size: $fontL;
}
.user-info-date-LL{
	@include BaseSentence;
    font-size: $fontLL;
}
.header-height{
	height: 50px;
	line-height: 50px;
	padding:0 5px;
}
.image-box{
	padding:20px 0;
}
.navbar-config{
	margin-bottom: 0;
	border-radius: 0;
}
.main-visualbox{
    width: 100%;
    height: 750px;
    position: relative;
}
.main-visual{
    width: 100%; 
    height: 750px;
}
.image-edit{
	width:100%;
	height:750px;
}
