// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application.scss';

/*全体*/
.event-box{
	@include BaseWidth;
	.well{
	   margin-top:20px;
	}
	.page{
		text-align: center;
		font-size: 20px;
	    a{
	    	font-size: 20px;
	    }
	}
}
.event-edit-box{
	@include BaseWidth;
}


.index-table{
	line-height: 100px;
}

/*ヘッダー*/
.header-search-btn{
	margin: 8px 0;
}

/*index*/
.create-event-btn{
	margin: 15px 0;
}

.event-samnail{
	max-width: 180px;
	max-height: 180px;
	vertical-align: middle;
}

.tag-font-color{
	color: white;
	&:hover {
    color: white;
  }
}
.index-title{
	font-size: $fontL;
}
.index-detail{
	overflow: hidden;
  	text-overflow: ellipsis;
  	border-radius: 3px;
  	border: none;
}
.padding-adj{
}

/*show*/
.show-title{
	padding: 15px;
	font-size: $fontLL;
	font-family: 'Abril Fatface';
}
.show-box{
	margin: 10px 0;
	font-size: $fontM;
}	
.image-padding{
	padding: 2px;
}
.show-middle{
	padding: 20px;
	background-color: rgba(200,200,200,0.3);
	border-radius: 10px;
}
.back-btn{
	margin-top: 10px;
}

/*tag*/
.tag{
	padding: -1px;
	margin: 1px;
}