// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application.scss';

/*全体*/
.event-list tbody{
	display: block;
	height: 100%;
	width: 100%;
}
.event-list tr, td{
	margin: 5px;
}
.event-box{
	@include BaseWidth;
}

/*ヘッダー*/
.header-search-btn{
	margin: 8px 0;
}

/*index*/
.index-table{
	border: none;
}
.create-event-btn{
	margin: 15px 0;
}
.samnail-cell{
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 10px;
}
.event-samnail{
	position: absolute;
 	top: 50%;
 	left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 267px;
	max-height: 150px;
}

.comments-count{
	position: absolute;
	top: 5px;
	left: 5px;
}

.tag-font-color{
	color: white;
	&:hover {
    color: white;
  }
}
.index-title{
	font-size: $fontL;
}
.index-detail{
	padding: 10px 10px;
	margin: 5px 0;
	overflow: hidden;
  	text-overflow: ellipsis;
  	border-radius: 3px;
  	border: none;
  	background-color: rgba(200,200,200,0.3);
}
/*show*/
.show-title{
	padding: 15px;
	font-size: $fontLL;
	font-family: 'Abril Fatface';
}
.show-box{
	margin: 10px 0;
	font-size: $fontM;
}	
.image-padding{
	padding: 2px;
}
.show-middle{
	padding: 20px;
	background-color: rgba(200,200,200,0.3);
	border-radius: 10px;
}
.back-btn{
	margin-top: 10px;
}

/*tag*/
.tag{
	padding: -1px;
	margin: 1px;
}